* {
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
	width: 100%;
}
body{
	height: 100%;
	background-color: #f6f6f6;
}
@font-face{
	font-family: FiraSans-Regular;
	src:url(../fonts/FiraSans-Regular.ttf);
}
@font-face{
	font-family: FiraSans-Bold;
	src:url(../fonts/FiraSans-Bold.ttf);
}
@font-face{
	font-family: FiraSans-Medium;
	src:url(../fonts/FiraSans-Medium.ttf);
}
@font-face{
	font-family: FiraSans-Light;
	src:url(../fonts/FiraSans-Light.ttf);
}
@font-face{
	font-family: OpenSans-Bold;
	src:url(../fonts/OpenSans-Bold.ttf);
}
a{
	text-decoration: none;
	display: inline-block;
}
ul{
	list-style: none;
}
.wrapper{
	min-height: 100%;
	position: relative;
	min-width: 960px;
}

.main-container{
	box-sizing: border-box;
}
/*   	HEADER */
.header{
	height: 80px;
	background: #fff;
	box-shadow: 0px 2px #d5d5d5;
}
.image__photo{
	width:62px;
	height: 62px;
	border: 2px solid #c6c6c6;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
.image {
	display: inline-block;
}
.image__wrap{
	display: inline-block;
}
.container{
	margin: auto;
	max-width: 1008px;
	padding: 7px 67px 8px 8px;
    box-sizing: border-box;
}

.text-top {
  font: 18px "FiraSans-Regular", Arial, sans-serif;
  color: rgb(65, 65, 65);
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

/*----------Выпадающий список Мои  Контакты------------*/
.menu {
	position: relative;	
	float: right;
	height: 54px;
	width: 121px;
}

.menu__text:hover >.menu__list{
	display: block;
}

.menu__text {
	color: #9fe3f3;
	font: 18px "FiraSans-Bold", Arial, sans-serif;
	border-bottom:2px dotted;
	position: absolute;
	bottom: 11px;
}
.menu__text:hover{
	color: #e96667;
	transition: color .2s;
}

.menu__item{
	font: 18px "FiraSans-Light", Arial, sans-serif;
	color: #4e4e4e;
}
.menu__item:hover{
	color: #e96667;
	transition: color .2s;
}
.menu__icon{
	margin-right: 9px;
}
.menu:hover .menu__list{
	display: block;
}
.menu .menu__list{
	display: none;
	background: #fff;
	position: absolute;
	width: 300px;
	height: 135px;
	top: 56px;
	right: -73px;
	border:1px solid #dedede;
	border-radius: 10px;
}

.menu__list:before, .menu__list:after{
	content: "";
	position: absolute;
	right: 142px;
	bottom: 134px;
	border: 10px solid transparent;
	border-bottom:14px solid #dedede;
}
.menu__list:after{
	border-bottom:10px solid white;
	bottom:134px;
}
.menu__link{
	padding: 11px 20px;
	display: block;
}

.menu__icon_border{
	border-bottom: 1px solid #eee;
}
/*-----Сайдбар----*/

.navigation__item{
	list-style: none;
	height: 45px;
}

.navigation__link:hover{
	display: block;
	text-decoration: none;
	color: #33c1e3;
	
}
.navigation__link{
	display: block;
	text-decoration: none;
	color: #414141;
	font:18px "FiraSans-Bold", Arial, sans-serif;
  	text-align: right;
  	margin: 0 25px 0 0;
  	line-height: 45px;
  	position: relative;
}
.navigation__link_current.navigation__link_human {
	background: url(../icon/images/about.png) no-repeat center left;

}
.navigation__link_human{
	background:url(../icon/images/about-black_02.png) no-repeat center left ;

}
.navigation__link_human:hover{
	background:url(../icon/images/about.png) no-repeat center left;

}
.navigation__link_racket{
	background:url(../icon/images/racket_black.png) no-repeat center left;

}
.navigation__link_current.navigation__link_racket{
	background:url(../icon/images/racket-blue_03.png) no-repeat center left;;
}
.navigation__link_racket:hover{
	background:url(../icon/images/racket-blue_03.png) no-repeat center left;

}
.navigation__link_bag{
	background:url(../icon/images/bag-black_03.png) no-repeat center left;

}
.navigation__link_bag:hover{
	background:url(../icon/images/bag-blue.png) no-repeat center left;

}
.navigation__link_current.navigation__link_bag{
	background:url(../icon/images/bag-blue.png) no-repeat,center left;

}

.navigation__link_current{                      
	color:#33b9dd;
}
.navigation__link_current:after{  
	content: "";                
	display: block;
	width: 6px;
	background: #33b9dd;
	position: absolute;
	top: 0;
	right: -20px;
	bottom: 0;
	}
/*----------Основной контен--------*/
.variable-content{
	display: inline-block;
}
.sidebar{
	display: inline-block;
	vertical-align: top;
	margin: 0 20px 0 0;
	width: 190px;
}
.content{
	width: 960px;
	margin: auto;
	padding: 23px 23px 60px 23px;
	box-sizing: border-box;


}
.avatar__wrap{
	display: inline-block;
	vertical-align: top;
	margin:0 55px 0 0;
}
.avatar__image{
	border-radius: 50%;
    height: 219px;
    width: 219px;
	border:5px solid #fff;
	box-sizing: border-box;
}
.info{
	width: 380px;
	font-size: 18px;
	color: #414141;
	display: inline-block;
}
.info__text{
	color: #9e9e9e;
	height: 345px;
	overflow-y: scroll;
	font-family: "FiraSans-Light", Arial, sans-serif;
	margin-bottom: 50px;
}
.info__aboutme{
	font-family: "FiraSans-Medium", Arial, sans-serif;
}
/*-------Кнопка скачать-----*/
.info__button{
	text-align: right;
	width: 100%;
	
}
.info__button__link{
	display: inline-block;
	border:2px solid #e85f61;
	border-radius: 40px;
	padding: 7px 14px 8px 35px;
	position: relative;
	transition: all .3s linear;
	
}
.info__button__link:hover {
	background: #e85f61;
	border-radius: 40px;

}
.info__button__text{
	font:14px "OpenSans-Bold", Arial, sans-serif;
	color:#e85f61;
	transition: all .3s linear;
}

.info__button__icon{
	position: absolute;
    left: 12px;
    top: 11px;
    bottom: 0;
    width: 15px;
    background: url(../icon/images/download_03.png) no-repeat;
    transition: all .3s linear;
}

.info__button__link:hover .info__button__text {
	color: #fff;

}
.info__button__link:hover .info__button__icon{
background: url(../icon/images/download_white.png) no-repeat;
}


/*------Иконки------*/
.social__list {	
	min-width: 107px;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -18px;
	padding: 2px 95px 0 0;
}
.social__item{
	list-style: none;
	height: 30px;
	width: 31px;
	display: inline-block;

}
.social__list .social__item:first-child{
	margin-right: 2px;
	display: inline-block;
}
.sprite {
    background: url(../img/spritesheet.png) no-repeat;
    display: inline-block;
}

.social__link_tw {
    width: 31px;
    height: 30px;
    background-position: -5px -5px;

}

 .social__link_tw:hover {
    width: 31px;
    height: 30px;
    background-position: -46px -5px;
}

 .social__link_vk {
    width: 31px;
    height: 30px;
    background-position: -5px -45px;
}

 .social__link_vk:hover{
    width: 31px;
    height: 30px;
    background-position: -46px -45px;
}

 .social__link_fb {
    width: 31px;
    height: 30px;
    background-position: -87px -5px;
}

 .social__link_fb:hover {
    width: 31px;
    height: 30px;
    background-position: -87px -45px;
}


.footer{
	height: 50px;
	min-width: 960px;
	margin-top: -50px;
	text-align: center;
	background-color: #414141;
	position: relative;
}
.footer-wrap{
	height: 50px;
	margin: auto;
	position: relative;
	max-width: 1000px;
}
.footer__copyright{
  	font:14px "FiraSans-Light", Arial, sans-serif;
  	color: rgb(156, 156, 156);
  	line-height: 50px;
  	float: left;
}



/*--------Скроллбар--------*/
::-webkit-scrollbar-button {
width:5px;
height:0px
}
::-webkit-scrollbar-track {
background-color:#f6f6f6;
}
::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#d8d8d8;
}
::-webkit-scrollbar-thumb:hover{
background-color:#d8d8d8;
}
::-webkit-resizer{
width:4px;
height:0px

}
::-webkit-scrollbar{
width: 5px;
height: 7px;
}
/*---------------*/